html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: auto;
  font-weight: 800;
  color: #000000;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
  min-height: 186px;
  margin-top: 40px;
  background-color: #f7e296;
  margin-bottom: 37px;
}

.header-logo {
  position: absolute;
  margin-top: -18px;
  margin-left: 15px;
}

.header-top {
  padding-top: 45px;
  display: flex;
  margin-bottom: 40px;
}

.header-top a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.main-menu {
    padding: 0px;
    list-style: none;
    display: flex;
    margin-left: 55px;
    text-transform: uppercase;
}

.main-menu li {
  letter-spacing: 4px;
}

.main-menu li:first-child {
    margin-right: 285px;
}

.main-menu li:nth-child(2) {
  margin-right: 35px;
}

.main-menu li:nth-child(3) {
  margin-right: 91px;
}

.submenu {
    padding: 0px;
    list-style: none;
}

.main-menu a {
    color: black;
    font-size: 18px;
    font-style: bold;
    text-decoration: none;
    position: relative;
}

.main-menu li:first-child a::before {
  content: "";
  
  position: absolute;
  right: -22px;
  top: 3px;

  width: 18px;
  height: 18px;

  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.main-menu a:hover {
  opacity: 0.6;
}

.main-menu a:active {
  opacity: 0.3;
}

.submenu a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-style: light;
  text-decoration: none;
}

.right-menu, .pagination, .footer-right-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  margin-left: 55px;
  margin-top: -2px;
}

.search a {
  text-decoration: none;
  color: black;
  opacity: 0.3;
}

.search a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.right-menu {
  display: flex;
  margin-left: 390px;
  margin-right: 60px;
}

.right-menu li:first-child {
  margin-right: 20px;
  padding-left: 30px;
  position: relative;
}

.right-menu li:first-child::before {
  content: "";
  
  position: absolute;
  left: 7px;
  top: 11.5px;

  width: 14px;
  height: 14px;

  background-image: url(../img/icon-enter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right-menu li:nth-child(2) {
  margin-right: 55px;
}

.right-menu li:nth-child(2) a {
  opacity: 0.3;
}

.right-menu li:nth-child(3) {
  margin-right: 35px;
  position: relative;
  padding-left: 30px;
}

.right-menu li:nth-child(3)::before {
  content: "";
  
  position: absolute;
  left: 13px;
  top: 13px;

  width: 14px;
  height: 14px;

  background-image: url(../img/icon-compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right-menu li:nth-child(4) {
  position: relative;
  padding-left: 30px;
}

.right-menu li:nth-child(4)::before {
  content: "";
  
  position: absolute;
  left: 10px;
  top: 11px;

  width: 14px;
  height: 14px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right-menu a {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  color: black;
  text-decoration: none;
}

.right-menu a:hover {
  opacity: 0.6;
}

.right-menu a:active {
  opacity: 0.3;
}

.right-menu li:nth-child(3) {
  position: relative;
}

.promo span {
  font-size: 179.2px;
  font-style: bold;
  color: white;
}

.promo-headline {
  font-size: 47px;
  font-style: bold;
}

.promo-text {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.button {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
}

.promo a {
  text-decoration: none;
}

.promo .specs .specs-values {
  font-size: 36px;
  font-weight: 300;
}

.promo .specs .specs-paratemers {
  font-family: "OpenSans-Light", "Arial", sans-serif;  
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.categories {
  list-style: none;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories h3:active {
  opacity: 0.3;
}
.category-item h3 {
  font-size: 18px;
}

.category-item-background {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-item-background:hover {
  background-color: #f0c52e;
}

.category-item-background:active {
  background-color: #f0c52e;
}

.category-item img:active {
  opacity: 0.5;
}

.services {
  background-color: #e5e5e5;
}

.services p {
  font-family: "OpenSans-Light", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
}

.manufacturers-list {
  list-style: none;
}

a.dji {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/manufacturer-dji.jpg");
}

a.dji:hover {
  background-image: url("../img/manufacturer-dji-hover.jpg")
}

a.sp-gadgets {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/manufacturer-sp-gadgets.jpg");
}

a.sp-gadgets:hover {
  background-image: url("../img/manufacturer-sp-gadgets-hover.jpg")
}

a.go-pro {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/manufacturer-go-pro.jpg");
}

a.go-pro:hover {
  background-image: url("../img/manufacturer-go-pro-hover.jpg")
}

a.vive {
  display: block;
  width: 260px;
  height: 100px;
  background-image: url("../img/manufacturer-vive.jpg");
}

a.vive:hover {
  background-image: url("../img/manufacturer-vive-hover.jpg")
}

.about-us p {
  font-family: "OpenSans-Light", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
}

.about-us li {
  font-size: 15px;
}

.about-us a {
  text-decoration: none;
}

.contacts p {
  font-family: "OpenSans-Light", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
}

.contacts a {
  text-decoration: none;
}

.pop-up-contacts .fields-names {
  font-size: 18px;
  line-height: 18px;
}

.pop-up-contacts .fields {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 14px;
  font-weight: normal; 
  line-height: 18px;
}

.footer-top, .footer-middle, .footer-bottom {
  color: #ffffff;
  background-color: #464646;
}

.footer-top {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
}

.footer-right-menu a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.footer-right-menu a:hover {
  opacity: 1;
}

.footer-right-menu a:active {
  opacity: 0.3;
}

.footer-middle p {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
}

.footer-middle a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.footer-middle a:hover {
  opacity: 0.6;
}

.footer-middle a:active {
  opacity: 0.3;
}

.footer-middle .phone {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 15px;
  font-weight: 300; 
  line-height: 30px;
  opacity: 1;
}

.footer-logo a > img {
  opacity: 1;
}

.footer-logo a > img:hover {
  opacity: 0.6;
}

.footer-logo a > img:active {
  opacity: 0.3;
}

/* Стили для страницы каталога */

h1.container {
  margin-left: 80px;
  margin-bottom: 20px;
}

.breadcrumbs {
  padding-left: 75px; 
  margin-left: 25px;
  margin-bottom: 50px; 
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 14px;
  font-weight: 300; 
  line-height: 36px;
  list-style: none;
  display: flex;
}

.breadcrumbs a {
  color: black;
  text-decoration: none;
  margin-right: 40px;
  position: relative;

}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a::after {
  content: "";
  display: inline-block;

  vertical-align: middle;
  margin-left: 15px;
  width: 7px;
  height: 11px;
  background-image: url(../img/icon-nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.catalog-wrapper {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #dcdcdc 0%,  #dcdcdc 70px, #eeeeee 70px, #eeeeee 100%);
}

.catalog {
  display: flex;
}

.filter-headline {
  font-size: 16px;
  margin: 0;
  line-height: 70px;

  min-height: 70px;
}

.main-headline {
  text-transform: uppercase;
}

.price-controls {
  margin-bottom: 48px;
}

.filter {
  width: 328px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 68px;
}

.filter-price, .filter-color, .filter-bluetooth {
  border: 0;
  border-top: 2px solid black;
  margin-top: 70px;
}

.filter-text {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 14px;
  font-weight: 300; 
  line-height: 40px;
}

.checkbox-color {
  display: none;
}

.filter-text-colors {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 14px;
  font-weight: 300; 
  line-height: 40px;
}

.sorting-block {
  display: flex;
  width: 834px;
}

.sorting {
  display: flex;
}

.sorting {
  font-family: "OpenSans", "Arial", sans-serif;  
  font-size: 14px;
  font-weight: 300; 
  line-height: 18px;
  list-style: none;
  margin: 0;
  line-height: 70px;
  min-height: 70px;
  display: flex;
  width: 288px;
  justify-content: space-between;
}

.sorting a {
  text-decoration: none;
  color: black;
}

a.sorting.another-page:hover {
  opacity: 0.6;
}

a.sorting.another-page:active {
  opacity: 1;
}

.sorting-headline {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  line-height: 70px;
  min-height: 70px;
}

.sorting-desc {
  position: relative;
}

.sorting-desc::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 232px;

  width: 14px;
  height: 14px;
  
  background-image: url(../img/icon-up.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-asc {
  position: relative;
}

.sorting-asc::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 252px;

  width: 14px;
  height: 14px;
  
  background-image: url(../img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.goods {
  width: 757px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

.goods h2 {
  font-size: 18px;
  color: black;
}

.goods p {
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.goods a {
  text-decoration: none;
}

.pagination-block a {
  color: black;
  text-decoration: none;
}

.pagination-block {
  font-size: 16px;
  background-color: #ebebeb;
  display: flex;
  margin: 0;
  line-height: 70px;
  min-height: 70px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 77px;
  margin-top: 22px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 87px;
}

.another-page {
  opacity: 0.3;
}

.developer:hover {
  opacity: 0.6;
}

.developer:active {
  opacity: 0.3;
}

/* Footer */

.page-footer {
  min-height: 322px;
  background-color: #464646;
}

.footer-top {
  padding-top: 73px;
  display: flex;
}

.footer-right-menu {
  display: flex;
}

.footer-right-menu li:first-child {
  margin-left: 676px;
  margin-right: 44px;
  padding-left: 25px;
  position: relative;
}

.footer-right-menu li:first-child::before {
  content: "";
  
  position: absolute;
  right: 43px;
  top: 8px;

  width: 18px;
  height: 18px;

  background-image: url(../img/icon-enter-y.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-right-menu li:nth-child(2) {
  margin-right: 41px;
  position: relative;
}

.footer-right-menu li:nth-child(2)::before {
  content: "";
  
  position: absolute;
  right: 65px;
  top: 10px;

  width: 18px;
  height: 18px;

  background-image: url(../img/icon-compare-y.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-right-menu li:nth-child(3) {
  position: relative;
}

.footer-right-menu li:nth-child(3)::before {
  content: "";
  
  position: absolute;
  right: 57px;
  top: 8px;

  width: 18px;
  height: 18px;

  background-image: url(../img/icon-cart-y.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-middle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 425px;
}

.footer-middle::before {
  content: "";

  position: absolute;
  top: 130px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-menu a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.footer-bottom a {
  margin-right: 14px;
}

.footer-bottom a:first-child {
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.footer-bottom a:first-child:hover {
  opacity: 0.6;
}

.footer-bottom a:first-child:active {
  opacity: 0.1;
}

.footer-bottom a:nth-child(2) {
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-instagram.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.footer-bottom a:nth-child(2):hover {
  opacity: 0.6;
}

.footer-bottom a:nth-child(2):active {
  opacity: 0.1;
}

.footer-bottom a:nth-child(3) {
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.footer-bottom a:nth-child(3):hover {
  opacity: 0.6;
}

.footer-bottom a:nth-child(3):active {
  opacity: 0.1;
}

.developer {
  width: 29px;
  height: 37px;
  background-image: url(../img/icon-htmlacademy.svg);
  background-repeat: no-repeat;
}

.developer:hover {
  opacity: 0.6;
}

.developer:active {
  opacity: 0.3;
}